body {
    background: url(https://bailemosinmiedo.netlify.app/img/background_thuqhunamood.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0;
    background-size: 100% 100%;
  }
  
  
  h3 {
    color: rgb(45, 244, 29);
    text-align: center;
    font-size: 35px;
    margin: 2px;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 2px;
  }
  
  h4 {
    color: white;
    text-align: center;
    font-size: 10px;
    margin: 2px;
  }
  
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  a {
    text-decoration: none;
  }
  
  .buttons {
    text-align: center;
  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    padding: 0.7rem;
    display: flex;
    transition: all 0.5s;
    font-size: 10px;
  }
  
  .icon-facebook {
    color: #ffffff;
    font-size: 15px;
    margin: 5px;
  }
  
  .icon-twitter {
    color: #ffffff;
    font-size: 15px;
    margin: 5px;
  }
  
  .icon-instagram {
    color: #ffffff;
    font-size: 15px;
    margin: 5px;
  }
  
  .icon-tiktok {
    color: #ffffff;
    font-size: 15px;
    margin: 5px;
  }
  