@font-face {
  font-family: 'icomoon';
  src:  url('service/icomoon.eot?dp1llk');
  src:  url('service/icomoon.eot?dp1llk#iefix') format('embedded-opentype'),
    url('service/icomoon.ttf?dp1llk') format('truetype'),
    url('service/icomoon.woff?dp1llk') format('woff'),
    url('service/icomoon.svg?dp1llk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-deezer:before {
  content: "\e900";
  color: black;
}
.icon-spotify:before {
  content: "\e901";
  color: black;
}
.icon-youtube:before {
  content: "\e902";
  color: black;
}
.icon-play2:before {
  content: "\ea15";
}
